/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(212, 45%, 89%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  margin: 30rem auto;
  width: 32rem;
  height: 49.9rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 1.6rem;
}

.card .qr {
  width: 28.8rem;
  height: 28.8rem;
  padding-bottom: 2.4rem;
}

.card .qr img {
  width: 28.8rem;
  height: 28.8rem;
  border-radius: 1rem;
}

.card .text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0 1.6rem;
  text-align: center;
  font-family: "Outfit", sans-serif;
}

.card .text h1 {
  font-size: 2.2rem;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  letter-spacing: 1.5;
}

.card .text p {
  font-size: 1.5rem;
  letter-spacing: 1.5;
  color: hsl(216, 15%, 48%);
  font-weight: 400;
}

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
